<form action=''>
	<input type='text' value='<%=defaultText%>' name='query' id="query" class='blurred'/>
	<input type='submit' value='search' />
	
	<ul class='options'>
		<li>
			Flickr 
			<input type='checkbox' name='types' value='Srchr.Models.Flickr'/>
		</li>
		<li>
			Yahoo 
			<input type='checkbox' name='types' value='Srchr.Models.Yahoo'/>
		</li>
		<li>
			Upcoming 
			<input type='checkbox' name='types' value='Srchr.Models.Upcoming'/>
		</li>
		<li>Twitter
			<input type='checkbox' name='types' value='Srchr.Models.Twitter'/>
		</li>
	</ul>
</form>